body{
  background-color:#eee;
  font-family:sans-serif;
}

#position-wrapper {
  margin-right:10px;
  color:#333;
  display:inline-block;
}

#position-wrapper div {
  padding:10px;
  border:1px solid #ccc;
}

.position {
  background-color:#fc0 !important;
  color:#333;
}
