doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill - 01
    link(rel='stylesheet', href='./css/d-01.css')
  body
    h1 Drill - 01

    input#num1(type="text")
    span +
    input#num2(type="text")
    button#equals =
    #result

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-01.js')
