doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill - 03
    link(rel='stylesheet', href='./css/d-03.css')
  body
    h1 Drill - 03

    input#numbers(type="text")
    button#start 4th

    #divs


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-03.js')
