doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill - 04
    link(rel='stylesheet', href='./css/d-04.css')
  body
    h1 Drill - 04

    input#numbers(type="text")
    button#start X^

    #divs


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-04.js')
