doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill - 06
    link(rel='stylesheet', href='./css/d-06.css')
  body
    h1 Drill - 06

    input#numbers(type="text")
    button#start LAST-3

    #divs


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-06.js')
