doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill - 14
    link(rel='stylesheet', href='./css/d-14.css')
  body
    button#rectangulate RECTANGULATE!



    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-14.js')
