doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill - 17
    link(rel='stylesheet', href='./css/d-17.css')
  body
    h1 MultiQuote

    input#shares(type='text', placeholder='# SHARES')
    input#symbol(type='text', placeholder='SYMBOL')
    button#get Get Position

    #wrapper
      #position-wrapper



    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-17.js')
