doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill - 18
    link(rel='stylesheet', href='./css/d-18.css')
  body
    h1 Auto-Update Stock Quotes

    input#symbols(type='text', placeholder='SYMBOLS')
    button#get ALL THE STOCKS!

    table#stocks
      thead
        tr
          th SYMBOL
          th QUOTE
      tbody


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-18.js')
