doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill - 19
    link(rel='stylesheet', href='./css/d-19.css')
  body
    h1 Stock Sums

    input#symbols(type='text', placeholder='STOCK SYMBOLS')
    button#sum SUM

    #clear

    #sum
      #sumheader SUM
      #sumnumber



    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-19.js')
