doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill - 20
    link(rel='stylesheet', href='./css/d-20.css')
  body
    h1 Stock Chart

    input#symbol(type='text', placeholder='STOCK SYMBOL')
    button#add CHART THAT BITCH!

    #clear

    #chart



    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-20.js')
