doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill - 25
    link(rel='stylesheet', href='./css/d-25.css')
  body

    #controls
      h1 3D Donut Chart
      input#symbol(type='text', placeholder='SYMBOL')
      input#shares(type='text', placeholder='SHARES')
      button#add ADD STOCK

    #chartdiv





    script(src='./js/vendor/jquery-2.1.0.js')

    script(src="http://www.amcharts.com/lib/3/amcharts.js")
    script(src="http://www.amcharts.com/lib/3/pie.js")
    script(src="http://www.amcharts.com/lib/3/themes/dark.js")

    script(src='./js/source/d-25.js')
